/*Cadastro funcionário-empresa*/
.cad_espaco {
    padding-top: 2%;
    }
    .form{
      display: flex;
      width: 1300px;
    }
    .cad_form__title {
    color: #384470;
    font-family: poppins-sb;
    font-weight: 300;
    margin: 0;
    margin-bottom: 1.2rem;
    }
    .cad_link {
    color: #515662;
    font-size: 0.9rem;
    margin: 1.5rem 0;
    text-decoration: none;
    }
    h5 {
    color: #515662;
    font-size: 1.1rem;
    margin: 0.5rem 0;
    text-decoration: none;
    }
    .cad_container {
    background-color: var(--white);
    border-radius: var(--button-radius);
    box-shadow: 0 0.9rem 1.7rem rgba(0, 0, 0, 0.25),
      0 0.7rem 0.7rem rgba(0, 0, 0, 0.22);
    height: 78vh;
    max-width: var(--max-width);
    overflow: hidden;
    position: relative;
    width: 100%;
    padding-top: 50%;
    place-items: center;
    align-items: center;
    margin-top: 2%;
    }
    .cadastro-ind-form{
    display: flex;
    margin-right: 40px;
    margin-top: 9%;
    }
    .cad_container__form {
    height: 90%;
    position: absolute;
    top: 0;
    transition: all 0.6s ease-in-out;
    }
    .cad_container--cadastro {
    left: 0;
    width: 50%;
    z-index: 2;
    }
    .cad_container.painel-direito-ativo .cad_container--cadastro {
    transform: translateX(100%);
    }
    .cad_container--logIn {
    left: 0;
    opacity: 0;
    width: 50%;
    z-index: 1;
    }
    .cad_container.painel-direito-ativo .cad_container--logIn {
    animation: show 0.6s;
    opacity: 1;
    transform: translateX(100%);
    z-index: 5;
    }
    .cad_container__cad_sobreposicao {
    height: 100%;
    left: 50%;
    overflow: hidden;
    position: absolute;
    top: 0;
    transition: transform 0.6s ease-in-out;
    width: 50%;
    z-index: 100;
    }
    .cad_container.painel-direito-ativo .cad_container__cad_sobreposicao {
    transform: translateX(-100%);
    }
    .cad_sobreposicao {
    background: url("fundo-iceberg3.png");
    background-size: 100%;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    left: -100%;
    position: relative;
    transform: translateX(0);
    transition: transform 0.6s ease-in-out;
    width: 200%;
    }
    .cad_container.painel-direito-ativo .cad_sobreposicao {
    transform: translateX(50%);
    }
    .cad_sobreposicao__panel {
    align-items: center;
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: center;
    position: absolute;
    text-align: center;
    top: 0;
    transform: translateX(0);
    transition: transform 0.6s ease-in-out;
    width: 50%;
    }
    .cad_sobreposicao--esquerdo {
    transform: translateX(-20%);
    }
    .cad_container.painel-direito-ativo .cad_sobreposicao--esquerdo {
    transform: translateX(0);
    }
    .cad_sobreposicao--right {
    right: 0;
    transform: translateX(0);
    }
    .cad_container.painel-direito-ativo .cad_sobreposicao--right {
    transform: translateX(20%);
    }



    /* BOTÕES */
    .cad_btn1 {
      background-image:url("botao-voltar.png"); 
      width:150px;
      height:150px; 
      background-color: transparent; 
      border-radius: 50%;
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center;
      border-color: blueviolet;
    }
    .cad_btn1:hover{
        transform: scale(1.1);
    }

    .cad_btn2 {
      background-image:url("proximo.png"); 
      width:150px;
      height:150px; 
      background-color: transparent; 
      border-radius: 50%;
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center;
      border-color: blueviolet;
      }
      .cad_btn2:hover{
          transform: scale(1.1);
      }


/* .botao_teste{
  background-image:url("botao-voltar.png"); 
  width:250px;
  height:250px; 
  font-size: 200px; 
  color:red; 
  background-color: transparent; 
  border-radius: 50%;
} */


    .form>.cad_btn {
    margin-top: 1.5rem;
    }
    .cad_btn:active {
    transform: scale(0.95);
    }
    .cad_btn:focus {
    outline: none;
    }
    .form {
    background-color: var(--white);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 3rem;
    height: 100%;
    text-align: center;
    }
    .cad_inp {
    background-color: #fff;
    border-radius: 17px;
    border: none;
    padding: 0.9rem 0.9rem;
    margin: 0.5rem 0;
    width: 80%;
    height: 5.3vh;
    }
    
    
    
    /* ------------------------------------------------------------------------------------------- */
    :root {
      /* COLORS */
      --white: #e9e9e9;
      --gray: #333;
      --blue: #0367a6;
      --lightblue: #008997;
      /* RADII */
      --button-radius: 0.7rem;
      /* SIZES */
      --max-width: 1080px;
      --max-height: 600px;
    }
    body {
      align-items: center;
      background-color: var(--white);
      display: grid;
      place-items: center;
    }
    
    
    
    /* ------------------------------------------------------------------------------------------- */
    /* --// TESTES //-- */

    option{
      color: #333;
      }
    