/* Estilos para a página dashboard */
.page-dash {
    display: flex;
    width: 100%;
    height: 100%;
    padding-top: 0;
}

/* Barra lateral */
.nav-dash {
    background-color: #ffffff;
    color: white;
    width: 220px;
    height: 100%;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: fixed;
}

.nav-dash-logo {
    margin-bottom: 40px;
}

.nav-dash-logo img {
    width: 100%;
    height: 150px;
}

.nav-dash-menu {
    width: 100%;
    
}

.nav-dash-list {
    list-style: none;
    padding: 0;
}

.nav-dash-link {
    margin: 20px 0;
    display: flex;
    align-items: center;
}

.nav-dash-icon {
    margin-right: 10px;
    margin-left: 10px;
}

.nav-dash-link {
    color: #442BB3; 
    text-decoration: none;
    font-size: 18px;
    display: flex;
    padding: 10px 0;
    border-radius: 70px;
    transition: background-color 0.3s ease;
    flex-grow: 1;
    
}

.nav-dash-link a{
    color: inherit;
    text-decoration: none;
    
}

.nav-dash-link:hover {
    background-color: #442BB3;
    color: white;
}

.main-geren-page {
    width: 70%;
    margin-top: 40px;
    margin-left: 16.8%;
}

.main-geren-page h1 {
    color: black;
    font-family:Arial, Helvetica, sans-serif;
    padding-top: 10px;
}

.select {
    position:relative;
    display: flex;
    padding-left: 82.30%;
    width: 105%;
}

.select select {
    border-radius: 10px 10px 0 0;
    border-color: #ffffff;
    color: black;
    width: 120%;
    height: 40px;
    display: flex;
    z-index: auto;
    background-color: rgb(255, 255, 255);
    font-size: 15px;
    outline: none;
    position: relative;
}

.select option {
    color: black;
    font-size: 15px;
}

.dash {
    display: flex;
    flex-direction: column;
    width: 105%;
    height: 65%;
    background-color: rgb(255, 255, 255);
    padding-right: 20%;
    padding-top: 2%;
    border-radius: 20px 0 20px 20px ;
    color: black;
}

.titulos {
    color: black;
    align-items: baseline;
    display: flex;
    /* position: absolute; */
    flex-direction: row;
    width: 122%;
    padding-right: 13%;
    justify-content: space-around;
    height: 10%;
}

.coluna{
    display: flex;
    color: black;
    width: 60px;
    height: 10px;
    margin-left: 40px;
}

/* classe pai dos botões */
.botoes {
    padding-top: 3%;
    display: flex;
    gap: 20px;
}

/* botão editar */
.edit {
    width: 20%;
    height: 35px;
    border-radius: 20px;
    background-color: white;
    color: black;
    border: none;
}

/* botão cadastro */
.cad {
    width: 20%;
    height: 35px;
    border-radius: 20px;
    background-color: rgba(68, 43, 179, 1);
    color: white;
    border: none;
}

.duvidas {
    width: 250%;
    display: flex;
    padding-left: 102%;
}

.duvidas a {
    font-size: 15px;
    color: rgba(68, 43, 179, 1);
}

.tupla1{
    display: flex;
    color: black;
    width: 60px;
}

.dados {
    color: black;
    align-items: baseline;
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 10%;
    padding-top: 80px;
    padding-right: 10%;
    justify-content: space-around;
}

.dado {
    padding-top: 38px;
    color: black;
    align-items: baseline;
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 10%;
    padding-right: 10%;
    justify-content: space-around;
}

.geren-dados {
    flex-direction: column;
    width: 122%;
    height: 100%;
    overflow: auto;
}



