/* Estilos para a página dashboard ADM */
.page-dash {
    display: flex;
    width: 100%;
    height: 100%;
    padding-top: 0;
    background-color: #e2e2e2;
    overflow-y: hidden;
    overflow-x: hidden;
}

/* Barra lateral */
.nav-dash {
    background-color: #ffffff;
    width: 220px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.nav-dash-teste img {
    width: 150px;
    height: auto;
    margin-bottom: 40px;
}

.nav-dash-menu {
    width: 100%;
}

.nav-dash-list {
    list-style: none;
    padding: 0;
}



.nav-dash-icon {
    margin-right: 10px;
}



.sair a {
    color: red;
    text-decoration: none;
}

/* Main dashboard page */


.main-dash-greet h1 {
    font-size: 26px;
    color: #333;
    margin-left: 10%;
}

.indicadores-ADM {
    display: flex;
    align-items: center;
    margin-bottom: 35px;
    margin-top: 10px;
    gap: 20px;
}

.main-dash-status {
    display: flex;
    background-color:white;
    border-radius: 10px;
    align-items: center;
    width: 60%;
    height: 110px;
    flex-direction: column;
    justify-content: center;
}

.main-dash-irreguladirades {
    display: flex;
    background-color:white;
    border-radius: 10px;
    align-items: center;
    width:140%;
    height: 110px;
    flex-direction: column;
    justify-content: center;
}

.titulos-indicadores-adm {
    display: flex;
    align-items:baseline;
    gap: 30px;
}

.dados-indicadores-adm {
    display: grid;
    grid-template-columns: 40% 42% 20%;
    align-items:baseline;
    padding-left: 110px;
    padding-right: 50px;
    width: 100%;
}

.dados-indicadores-irre {
    display: grid;
    grid-template-columns: 23% 27% 28% 20%;
    align-items: baseline;
    width: 100%;
    padding-left: 55px;
}

.dado-titulo-adm{
    padding-top: 15px;
    color: black;
    display: grid;
    grid-template-columns: 20% 20% 20%;
    font-size: 25px;
}

.indi-titulo-adm {
    color: #5d5d5d;
    padding-top: 10px;
}

.dado-titulo-adm-irre {
    color: black;
    display: grid;
    grid-template-columns: 20px 20px 20px 5px;
    padding-top: 10px;
    font-size: 20px;
}

.titulo-adm h3 {
    color: black;
    font-size : 20px
}


/* Conteúdo Principal */
.main-dash-content {
    display: flex;
    justify-content: space-between;
    gap: 20px;
}

.left-section, .right-section {
    flex: 1;
    background-color: #ffffff;
    padding: 20px;
    border-radius: 10px;
    
}

.machine-table {
    width: 100%;
    border-collapse: collapse;
}

.machine-table th, .machine-table td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: center;
}

.machine-table th {
    background-color: #f2f2f2;
    font-size: 14px;
    color: #333;
}

.machine-table td {
    font-size: 12px;
    color: #333;
}

/* Alerta e Relatórios */
.report-card, .alert-card {
    background-color: #FFFFFF;
    padding: 20px;
    border-radius: 12px;
    margin-bottom: 20px;

}

.report-card h3, .alert-card h3 {
    font-size: 24px;
    color: #333;
}
.report-card h4, .alert-card h4{
    font-size: 24px;
    color: #333;
}

.box1 {
    background-color: white;
    border-radius: 10px;
    width: 50%;
    height: 450px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    color: black;
}

.box2 {
    background-color: white;
    border-radius: 10px;
    width: 47%;
    height: 450px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    color: black;
    overflow-y: auto;
}

.box1 h2, .box2 h2 {
    color: black;
    font-size: 25px;
    padding-left: 35px;
    padding-top: 20px;
}

.main-content {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-right: 42px;
    margin-top: 20px;
}

.dados-func-atribuicao-adm {
    padding-right: 10%;
    flex-direction: row;
    width: 100%;
    align-items: baseline;
    color: black;
    display: grid;
    grid-template-columns: 15% 40% 32%;
    justify-content:space-between;
    align-items: center;
    height: 65px;
    padding-top: 0px;
    padding-bottom: 15px;
    cursor: pointer;  
}

.titulos-func-atribuicao-adm {
    color: black;
    align-items: baseline;
    display: grid;
    grid-template-columns:13% 45% 70%;
    flex-direction: row;
    justify-content: space-between;
    height: 10%;
    padding-left: 55px;
}

.coluna-func-adm {
    display: flex;
    color: black;
    width: 60px;
    height: 10px;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.table-dash-ADM {
    max-height: 268px;
    overflow-y: auto;
}

.dash-func-atribuicao-adm {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 80%;
    background-color: rgb(255, 255, 255);
    padding-top: 7%;
    padding-bottom: 2%;
    border-radius: 20px 0 20px 20px;
    color: black;
    padding-left: 5%;
    padding-right: 5%;
    overflow:unset;
}

.coluna-func-atribuicao-adm {
    display: flex;
    color: black;
    width: 60px;
    height: 10px;
    margin-left: 40px;
    text-overflow: ellipsis;
    white-space: nowrap;
    padding-left: 10px;
}

.box2 canvas {
    margin-top: 20px;
}

.dados-func-atribuicao-adm:hover{
    background-color: #E3E3E3;
    color: white;
}

.nav-dash-link {
    display: flex;
    align-items: center;
    padding: 10px;
    color: #442BB3;
    text-decoration: none;
    font-size: 18px;
    border-radius: 10px;
    margin-bottom: 10px;
}

.nav-dash-link:hover {
    background-color: #442BB3;
    color: white;
}

.main-dash-page {
    flex-grow: 1;
    padding: 20px;
    display: flex;
    flex-direction: column;
    background-color: #e2e2e2;
    margin-left: 30px;
}


































































