.main-dash-funcionarios {
    display: flex;
    width: 100%;
    height: 100%;
    /* height: fit-content; */
    flex-direction: column;
    padding-left: 30px;
    padding-bottom: 30px;
    padding-right: 30px;
    color: black;
    background-color: #e2e2e2;
}

.alerta-funcionario {

    display: flex;
    background-color: white;
    border-radius: 10px;
    width: 100%;
    height: 100px;
    margin-top: 20px;
    padding: 10px;
    color: black;
    flex-direction: column;

}

.alerta-funcionario h3 {
    font-size: 20px;
}

.alerta-funcionario h3,b {
    color: black;
}

.tempo-real-func{
    display: grid;
    grid-template-columns: 0px 2px 0px 2px 2px 2px 2px 2px 2px 2px 2px;
    width: 100%;
    flex-direction: row;
    margin-top: 30px;
    color: black;
    justify-content: space-evenly;
}

.div-grafico-funcionario {
    display: flex;
    background-color: rgb(255, 255, 255);
    border-radius: 10px;
    width: 100%;
    height: 80%;
    margin-top: 20px;
    padding: 10px;
    flex-direction: column;
}

.div-listas-funcionario{
    display: flex;
    background-color: #e3e3e3;
    border-radius: 10px;
    width: 100%;
    height: 300px;
    margin-top: 20px;
    padding: 10px;
}

.div-listas-funcionario-2 {
    display: flex;
    background-color: #e3e3e3;
    border-radius: 10px;
    width: 100%;
    height: 300px;
    margin-top: 20px;
    padding: 10px;
}

.lista{

    display: flex;
    overflow-x: hidden;
    height: 250px ;
}

.dash-func-logs {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    background-color: rgb(255, 255, 255);
    padding-top: 2%;
    padding-bottom: 2%;
    justify-content: space-between;
    color: black;
    padding-left: 1%;
    padding-right: 1%;
    overflow: unset;
}

.dash-func-riscos {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    background-color: rgb(255, 255, 255);
    padding-top: 2%;
    padding-bottom: 2%;
    border-radius: 20px 0 20px 20px;
    color: black;
    padding-left: 1%;
    padding-right: 1%;
    overflow: unset;
}

.listas-funcionario-logs-dashfunc {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100%;
    gap: 20px;
}



.box-consumo {
    display: flex;
    background-color: #e3e3e3;
    border-radius: 10px;
    width: 100%;
    height: 300px;
    margin-top: 20px;
    padding: 10px;
}

.barra-titulo-funcionario {
    display: flex;
    flex-direction: row;
    gap:25px;
    justify-content: space-evenly;
}

.barra-titulo-funcionario a {
    color: black;
}

.div-todos-graficos-func {
    display: flex;
    width: 100%;
    height: 100%;
    flex-direction:column;
    overflow-y: auto;
}

.box-dos-graficos1 {
    padding-bottom: 90px;
}

.box-dos-graficos2 {
    padding-top: 10px;
    padding-bottom: 90px;
}

.box-dos-graficos3 {
    padding-top: 10px;
    padding-bottom: 90px;
}

.grafico-consumo-componentes h2{
    color: black;
}

.grafico-consumo-componentes {
    padding-top: 7%;
}



.titulos-func-maquinasrisco {
    color: black;
    align-items: baseline;
    display: grid;
    grid-template-columns: 100px 250px 200px 150px 140px 120px 100px;
    flex-direction: row;
    height: 10%;
    padding-left: 10px;
}

.dados-func-atribuicao-maquinasrisco {
    padding-right: 10%;
    flex-direction: row;
    width: 100%;
    align-items: baseline;
    color: black;
    display: grid;
    grid-template-columns: 100px 250px 200px 150px 150px 170px 150px;
    align-items: center;
    height: 65px;
    padding-top: 0px;
    padding-bottom: 15px;
    cursor: pointer;  
}

.coluna-func-dashfunc {
    display: flex;
    color: black;
    width: 60px;
    height: 10px;
    margin-left: 40px;
    text-overflow: ellipsis;
    white-space: nowrap;
    padding-left: 10px;
}

.titulos-func-logsfunc {
    color: black;
    align-items: baseline;
    display: grid;
    grid-template-columns: 100px 180px 180px 240px 210px 120px 100px;
    flex-direction: row;
    height: 10%;
    padding-left: 10px;
}

.dados-func-atribuicao-dashfunc {
    padding-right: 10%;
    flex-direction: row;
    width: 100%;
    align-items: baseline;
    color: black;
    display: grid;
    grid-template-columns: 120px 180px 180px 160px 255px 170px 150px;
    align-items: center;
    height: 65px;
    padding-top: 0px;
    padding-bottom: 15px;
    cursor: pointer;  
}

.dados-func-atribuicao-dashfunc:hover{
    background-color: #E3E3E3;
    color: white;
}

.dados-func-atribuicao-maquinasrisco:hover{
    background-color: #E3E3E3;
    color: white;
}

.box-mychart {
    width: 100%;
    height: 100%;
    justify-content: center;
    display: flex;
    background-color: white;
}