/* Estilos para a página dashboard */
.page-dash {
    display: flex;
    width: 100%;
    height: 100%;
    padding-top: 0;
    background-color: #E3E3E3;
}

/* Barra lateral */
.nav-dash {
    display: none;
    background-color: #ffffff;
    color: white;
    width: 220px;
    height: 100%;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: fixed;
    margin-right: 30px;
}

.nav-dash-func {
    display: block;
    background-color: #ffffff;
    color: white;
    width: 220px;
    height: 100%;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: fixed;
    margin-right: 30px;
}

.nav-dash-logo {
    margin-bottom: 40px;
}

.nav-dash-logo img {
    width: 100%;
    height: 150px;
}

.nav-dash-menu {
    width: 100%;
    
}

.nav-dash-list {
    list-style: none;
    padding: 0;
}

.nav-dash-link {
    margin: 20px 0;
    display: flex;
    align-items: center;
}

.nav-dash-icon {
    margin-right: 10px;
    margin-left: 10px;
}

.nav-dash-link {
    color: #442BB3; 
    text-decoration: none;
    font-size: 18px;
    display: flex;
    padding: 10px 0;
    border-radius: 70px;
    transition: background-color 0.3s ease;
    flex-grow: 1;
    
}

.nav-dash-link a{
    color: inherit;
    text-decoration: none;
    
}

.nav-dash-link:hover {
    background-color: #442BB3;
    color: white;
}

.main-dash-page {
    flex-grow: 1;
    padding: 20px;
    background-color: #e3e3e3;
    display: flex;
    flex-direction: column;
    padding-left: 16%;
}

.main-dash-greet h1 {
    font-size: 28px;
    font-weight: bold;
    color: #333333;
    margin-bottom: 20px;
}

.main-dash-top-card {
    display: flex;
    justify-content: space-between;
    background-color: #FFFFFF;
    border-radius: 12px;
    padding: 20px;
    margin-bottom: 20px;
}

.main-dash-top-card h5 {
    font-size: 16px;
    color: #666;
    width: 100%;
}

.dash-greet-child {
    text-align: center;
    margin: 0 10px;
}

.dash-greet-child h4 {
    font-size: 14px;
    font-weight: normal;
    color: #666;
}

.dash-greet-child h3 {
    font-size: 24px;
    color: #FF3B3B;
}

.main-dash-left {
    display: flex;
    gap: 20px;
    margin-bottom: 20px;
}

.main-dash-card {
    flex: 1;
    background-color: #FFFFFF;
    padding: 20px;
    border-radius: 12px;
    display: flex;
}

.main-dash-card h3{
align-self: center;
justify-content: center;
}

.main-dash-card h4 {
    font-size: 16px;
    color: #666;
}

.main-dash-card h3 {
    font-size: 24px;
    font-weight: bold;
    color: #333;
    margin-top: 10px;
}

.main-dash-bottom-card {
    flex: 1;
    background-color: #442BB3;
    color: white;
    padding: 20px;
    border-radius: 12px;
    margin-top: 20px;
}

.main-dash-bottom-card h4 {
    font-size: 18px;
    color: white;
}

.main-dash-bottom-card p {
    margin-top: 10px;
    font-size: 14px;
}

.main-dash-right-card {
    flex: 1;
    background-color: #FFFFFF;
    padding: 20px;
    border-radius: 12px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.main-dash-right-card h4 {
    font-size: 16px;
    color: #666;
    margin-bottom: 20px;
}

.main-dash-right-chart {
    width: 100%;
    height: auto;
}

.main-dash-right-relatorios {
    flex: 1;
    width: 960px;
    height: 900px;
    margin-left: 250px;
    background-color: #FFFFFF;
    padding-top: 20px;
    padding-left: 100px;
    padding-bottom: 20px;
    padding-right: 70px;
    border-radius: 12px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.main-dash-right-relatorios h2 {
    font-size: 20px;
    color: #666;
    margin-bottom: 20px;
}

.main-dash-right-botao{
    
    color: #333333;
    width: 170px;
    border-radius: 70px;
    padding: 10px 0;
    font-size: 19px;

 
 }

 .main-dash-right-botao:hover{
    
    transition: 0.5s;
    color: #ffffff;
    background-color: #442BB3;
    border-color: #00000000;
    width: 205px;
    height: 50px;
    border-radius: 70px;
    padding: 10px 0;
    font-size: 19px;
 
 }

.resposta-IA {

    width: 70vw;
    height: fit-content;
    color: #333; 
    padding-top: 30px;

}
.resposta-IA h3 {

    color: #333333;
    height: fit-content;

}



.nav-dash-link-sair {
    color: #FF3B3B; 
    text-decoration: none;
    font-size: 18px;
    display: flex;
    padding: 10px 0;
    border-radius: 70px;
    transition: background-color 0.3s ease;
    flex-grow: 1;
}

.nav-dash-link-sair a{
    color: inherit;
    text-decoration: none;
}

.nav-dash-link-sair:hover {
    background-color: #FF3B3B;
    color: white;
}


/* Cores específicas para os indicadores */
.dash-greet-child:nth-child(1) h3 {
    color: #FF3B3B; /* Vermelho */
}

.dash-greet-child:nth-child(2) h3 {
    color: #FF3B3B; /* Vermelho */
}

.dash-greet-child:nth-child(3) h3 {
    color: #00CC00; /* Verde */
}

.dash-greet-child:nth-child(4) h3 {
    color: #FF3B3B; /* Vermelho */
}
