/* Estilos para a página dashboard ADM */
.page-dash {
    display: flex;
    width: 100%;
    height: 100%;
    padding-top: 0;
    background-color: #e2e2e2;
    overflow-y: hidden;
    overflow-x: hidden;
}

/* Barra lateral */
.nav-dash {
    background-color: #ffffff;
    width: 220px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.nav-dash-teste img {
    width: 150px;
    height: auto;
    margin-bottom: 40px;
}

.nav-dash-menu {
    width: 100%;
}

.nav-dash-list {
    list-style: none;
    padding: 0;
}



.nav-dash-icon {
    margin-right: 10px;
}



.sair a {
    color: red;
    text-decoration: none;
}

/* Main dashboard page */


.main-dash-adm {
    flex-grow: 1;
    padding: 20px;
    background-color: #e3e3e3;
    display: flex;
    flex-direction: column;

    /* sessao1 */
    .sessao1-adm {
        display: flex;
        width: 100%;
        height: 11%;
        background-color: #FFFFFF;
        border-radius: 20px;
        gap: 10px;
        align-items: center;
        justify-content: center;

        >p {
            color: black;
            font-size: 25px;
        }
    }
}

/* sessao2 */
.sessao2-adm {
    display: flex;
    width: 100%;
    height: 42%;
    margin-top: 10px;
    border-radius: 20px;
    flex-direction: row;
    gap: 10px;

    .sessao2-adm_frame1 {
        display: flex;
        width: 80%;
        height: 100%;
        background-color: #FFFFFF;
        border-radius: 20px;
        flex-direction: column;
        padding: 10px;
        gap: 8px;
        align-items: center;

        >p {
            color: black;
        }
    }

    .sessao2-adm_frame2 {
        display: flex;
        width: 100%;
        height: 100%;
        background-color: #FFFFFF;
        border-radius: 20px;
        flex-direction: column;

        .sessao2-adm_frame2-titulo {
            display: flex;
            width: 98%;
            height: 15%;
            background-color: #E0E0E0;
            border-radius: 20px;
            margin: 1%;
            align-items: center;
            justify-content: space-around;

            >p {
                color: #000;
                font-size: 17px;
            }
        }
    }
}

/* sessao3 */
.sessao3-adm {
    display: flex;
    width: 100%;
    height: 60%;
    background-color: #FFFFFF;
    margin-top: 10px;
    border-radius: 20px;
    flex-direction: column;

    .sessao3-adm-titulo {
        display: flex;
        width: 98%;
        height: 15%;
        background-color: #E0E0E0;
        border-radius: 20px;
        margin: 1%;
        justify-content: space-around;
        align-items: center;

        >p {
            color: black;
            font-size: 17px;
        }
    }

    .sessao3-adm-titulo_mapacalor {
        display: flex;
        width: 100%;
        height: 10%;
        background-color: #FFFFFF;
        margin-top: 10px;
        border-radius: 20px;
        flex-direction: column;

        .chart-container {
            display: flex;
            padding-left: 20px;
        }
    }
}

.sessao1-adm_frame2 {
    display: flex;
    width: 90%;
    height: 78%;
    background-color: #E0E0E0;
    border-radius: 20px;
    align-items: center;
}

.sessao1-adm_frame2_alertas {
    display: flex;
    width: 100%;
    height: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

.sessao1-adm_frame2_alertas>p {
    color: #000;
    font-size: 16px;
}

.sessao1-adm_frame1_texto_semana_p1 {
    color: #7c7c7c;
}

.sessao1-adm-cor-roxa-dados {
    color: #4932bb;
}

.sessao-adm-botao-click {
    height: 100%;
    width: 10%;
    max-width: 10%;
    border-radius: 10px 0px 0px 10px;
    border: none;
    color: #4932bb;
    cursor: pointer;
    background-color: #d3d3d3;
    align-items: center;

    >p {
        font-size: 30px;
        color: #000000;
    }
}

.sessao-adm-pointer-disco-sessao2,
.sessao-adm-pointer-cpu-sessao2,
.sessao-adm-pointer-ram-sessao2,
.sessao-adm-pointer-rede-sessao3,
.sessao-adm-pointer-cpu-sessao3,
.sessao-adm-pointer-ram-sessao3 {
    cursor: pointer;
    align-items: center;
    justify-content: center;

    >p {
        color: #d3d3d3;
    }
}



.sessao-adm-modal-todos {
    display: none;
    position: fixed;
    height: 100%;
    width: 100%;
    left: 0%;
    top: 0;
    background-color: #ffffff26;
    z-index: 999;
    backdrop-filter: blur(4px);
    align-items: center;
    justify-content: center;
}

.sessao-adm-modal-card {
    display: none;
    flex-direction: column;
    height: 60%;
    width: 55%;
    background-color: #ffffff;
    box-shadow: 0px 0px 19px 0px #6d6d6d;
    align-items: center;
    justify-content: center;
    overflow-y: unset;
    overflow-x: unset;
}

.sessao-adm-pointer-rede-sessao3,
.sessao-adm-pointer-cpu-sessao3,
.sessao-adm-pointer-ram-sessao3 {
    height: 70%;
    width: 10%;
    max-width: 10%;
    border-radius: 10px;
    border: none;
    color: #000000;
    cursor: pointer;
    background-color: #d3d3d3;
    align-items: center;
}

.sessao-adm-pointer-disco-sessao2,
.sessao-adm-pointer-cpu-sessao2,
.sessao-adm-pointer-ram-sessao2 {
    height: 75%;
    width: 15%;
    max-width: 10%;
    border-radius: 10px;
    border: none;
    color: #000000;
    cursor: pointer;
    background-color: #d3d3d3;
    align-items: center;
    justify-content: center;
}

.sessao-adm-modal-alertas,
.sessao-adm-modal-riscos,
.sessao-adm-modal-analises {
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 90%;
    display: none;
}

.sessao-adm-modal-alertas p,
.sessao-adm-modal-riscos p {
    color: black;
    margin-bottom: 20px;
    margin-left: 30px;
}

.sessao-adm-modal-alertas table,
.sessao-adm-modal-riscos table {
    width: 90%;
    max-width: 1000px;
    margin: 0 auto;
    border-collapse: collapse;
}

.sessao-adm-modal-riscos th,
.sessao-adm-modal-alertas th {
    height: 20px;
}

.sessao-adm-modal-alertas th,
.sessao-adm-modal-alertas td,
.sessao-adm-modal-riscos th,
.sessao-adm-modal-riscos td {
    border: 1px solid black;
    padding: 8px;
    text-align: left;
}

.sessao-adm-modal-alertas th,
.sessao-adm-modal-riscos th {
    background-color: #f2f2f2;
    color: black;
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: center;
}

.sessao-adm-modal-alertas td,
.sessao-adm-modal-riscos td {
    padding-left: 6px;
    color: #000;
}

.sessao-adm-modal-card .sessao-adm-cancelar {
    align-self: flex-end;
    margin: 10px;
    cursor: pointer;
    color: white;
    border: none;
    padding: 10px;
}


.sessao-adm-cancelar {
    position: relative;
    top: 18px;
    right: 10px;
    background-color: #442BB3;
    border: none;
    color: white;
    padding: 5px 10px;
    cursor: pointer;
    font-size: 18px;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
}



/* modais */


/*apex Charts */



.sessao-adm-chartram-dado {
    display: none;
    width: 100%;
    height: 100%;
}

.sessao-adm-chartrede-dado {
    display: none;
    width: 100%;
    height: 100%;
}

.sessao-adm-chartcpu-dado {
    display: flex;
    width: 100%;
    height: 100%;
}


.apexcharts-menu-item {
    color: #000;
    display: flex;

}

.apexcharts-menu {
    background: #fff;
    position: absolute;
    border: 1px solid #ddd;
    border-radius: 3px;
    padding: 3px;
    right: 10px;
    opacity: 0;
    min-width: 110px;
    transition: .15s ease all;
    pointer-events: none;
}

.histogramChart {
    display: none;
}

.sessao-adm-modal-alertas-table {
    display: flex;
    width: 70%;
    height: 71%;
    overflow-y: auto;
    overflow-x: none;
    margin-left: 16%;
}

.sessao1-adm_frame1 {
    display: flex;
    width: 100%;
    height: 25%;
    background-color: #E0E0E0;
    border-radius: 20px;
}

.sessao1-adm_frame1_texto {
    display: flex;
    width: 100%;
    height: 100%;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;

    >p {
        color: #000;
        font-size: 16px;
    }

    .sessao1-adm_frame1_texto_semana {
        display: flex;
        width: 100%;
        flex-direction: row;
        justify-content: space-evenly;


        .sessao1-adm_frame1_texto_semana_p1 {
            color: #7c7c7c;
            font-size: 14px;
        }
    }



    .sessao1-adm_frame1_texto_semana_p2 {
        color: #3d3d3d;
        font-size: 14px;
    }

    .sessao1-adm_frame1_texto_semana_p3 {
        color: #0f0f0f;
        font-size: 14px;
    }
}

.sessao1-adm_frame2 {
    display: flex;
    width: 100%;
    height: 25%;
    background-color: #E0E0E0;
    border-radius: 20px;
    align-items: center;


}

.sessao1-adm_frame3 {
    display: flex;
    width: 100%;
    height: 25%;
    background-color: #E0E0E0;
    border-radius: 20px;

    >p {
        color: #000;
        font-size: 16px;
    }
}

.probabilityChartCPU {
    display: flex;
    width: 70%;
    height: 75%;
}

.probabilityChartRAM {
    display: none;
    width: 70%;
    height: 75%;
}

.probabilityChartDISCO {
    display: none;
    width: 70%;
    height: 75%;
}

.tspan {
    color: black;
}