#three-pillars{
    position: relative;
    display: flex;
    justify-content: center;

    overflow: hidden;
}

.pillars-father{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: var(--gap-4);
    width: 100%;
    height: 100%;
    padding-top: 20px;
}

.pillars-child-titulo{
    display: flex;
    text-align: center;
}

.pillars-child-container{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    gap: 20px;
    width: 5000px;
    padding: 70px 90px;
    border-radius: 20px;
    background: linear-gradient(180deg, rgba(43, 37, 125, 0.33) 0%, rgba(14, 13, 24, 0.33) 100%);
}

.pillars-cards{
    max-width: 900px;
    width: 100%;
    max-height: 290px;
    border-radius: 20px;
    padding: 32px;
    background: #0E0D18;
    box-shadow: inset 11px 11px 10px 0px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
    transition: transform 0.3s ease;
}

.pillars-cards:hover{
    transform: scale(1.1);
}


.pillars-cards p{
    padding: var(--gap-2) 0;
}

.pillars-cards h4{
    color: blueviolet;
}

@media (max-width: 1140px){
    #three-pillars{
        width: 100vw;
        height: 130vh;
    }
}

@media (max-width: 540px){
    #three-pillars{
        width: 100vw;
        height: 140vh;
    }
    .pillars-child-container{
        padding: 50px 20px;
        width: 600px;
    }
    .pillars-cards{
        max-width: 500px;
        width: 100%;
    }
}

@media (max-height: 700px){
    #three-pillars{
        height: 135vh;
    }
}