.dialogodefiltromaquina {
    display: none; 
    background-color: white;
    padding: 20px;
    box-shadow: 0 2px 50px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    position: fixed;
    top: 50%;
    left: 50%; 
    transform: translate(-50%, -50%); 
    width: 40%;
    height: 80%;
    z-index: 1000;

    /* elementos filhos */
    > * {
        margin: 10px;
    }
    
    .dialogodefiltromaquinatitulo {
        display: flex;
        flex-direction: row;
        width: 100%;

        .Editarbotaofechar {
            display: flex;
            width: 100%;
            justify-content: flex-end;
        }
    
         .Editarbotaofechar button {
            background-color: #442BB3;
            border: none;
            color: white;
            padding: 5px 10px;
            cursor: pointer;
            font-size: 18px;
            border-radius: 50%;
            width: 30px;
            height: 30px;
            display: flex;
            align-items: center;
            justify-content:space-around;
        }
    }

    .dialogodefiltromaquinatitulo > h2 {
        color: black;
        width: 70%;
    }
    
    .regiaocentrofiltros{
        display: flex;
        width: 100%;
        height: 90%;

        

        .regiaocentrofiltros-particao1 {
            display: flex;
            height: 100%;
            width: 50%;
            flex-direction: column;
            gap: 6%;
            margin-top: 20px;

            .particao1-inputselect {
                display: flex;
                width: 100%;
                height: 26%;
                flex-direction: column;

                > p {
                    color: black;
                    margin-bottom: 20px;
                    margin-left: 10px;
                }

                > select {
                    color: black;
                    background-color: #E5E5E5;
                    border-radius: 4px;
                    width: 90%;
                    height: 50%;
                    border: none;
                }
            } 
        }
    
        .regiaocentrofiltros-particao2 {
            display: flex;
            height: 100%;
            width: 50%;
            flex-direction: column;
            padding-top: 20px;

            .particao1-inputselect {
                display: flex;
                width: 100%;
                height: 26%;
                flex-direction: column;

                > p {
                    color: black;
                    margin-bottom: 20px;
                    margin-left: 10px;
                }

                > select {
                    color: black;
                    background-color: #E5E5E5;
                    border-radius: 4px;
                    width: 90%;
                    height: 50%;
                    border: none;
                }
            } 

            .particao-maquinafiltro-1 {
                display: none;
                width: 100%;
                height: 90px;
                flex-direction: column;

                .particao2-inputitulo {
                    display: flex;
                    flex-direction: row;
                    justify-content: center;
                    width: 100%;
                    margin-right: 30px;
                    margin-bottom: 30px;
                    padding-top: 40px;
    
                    > p {
                        color: black;
                        font-weight: bold;
                    }

                    
                }
                .particao2-grupocheckbox {
                    display: flex;
                    gap: 20px;
                    flex-direction: column;
                .particao2-inputcheckbox {
                    display: flex;
                    flex-direction: row;
                    width: 70%;
                    height: 10%;
                    align-items: center;
                    margin-left: 20%;
        
                    > p {
                        color: black;
                    }

                    

                    
        
                    > input{
                        display: flex;
                        width: 20%;
                        height: 90%;
                        border-radius: 50px;
                        margin-left: 20px;

                        
                    }
                }
            }
            }

            .particao-maquinafiltro-2 {
                display: none;
                width: 100%;
                height: 90px;
                flex-direction: column;

                .particao2-inputitulo {
                    display: flex;
                    flex-direction: row;
                    justify-content: center;
                    width: 100%;
                    margin-right: 30px;
                    margin-bottom: 30px;
                    padding-top: 40px;
    
                    > p {
                        color: black;
                        font-weight: bold;
                    }

                    
                }
                .particao2-grupocheckbox {
                    display: flex;
                    gap: 20px;
                    flex-direction: column;
                .particao2-inputcheckbox {
                    display: flex;
                    flex-direction: row;
                    width: 70%;
                    height: 10%;
                    align-items: center;
                    margin-left: 20%;
        
                    > p {
                        color: black;
                    }

                    

                    
        
                    > input{
                        display: flex;
                        width: 20%;
                        height: 90%;
                        border-radius: 50px;
                        margin-left: 20px;

                        
                    }
                }
            }
            }

            .particao-maquinafiltro-3 {
                display: none;
                width: 100%;
                height: 90px;
                flex-direction: column;

                .particao2-inputitulo {
                    display: flex;
                    flex-direction: row;
                    justify-content: center;
                    width: 100%;
                    margin-right: 30px;
                    margin-bottom: 30px;
                    padding-top: 40px;
    
                    > p {
                        color: black;
                        font-weight: bold;
                    }

                    
                }
                .particao2-grupocheckbox {
                    display: flex;
                    gap: 20px;
                    flex-direction: column;
                .particao2-inputcheckbox {
                    display: flex;
                    flex-direction: row;
                    width: 70%;
                    height: 10%;
                    align-items: center;
                    margin-left: 20%;
        
                    > p {
                        color: black;
                    }

                    

                    
        
                    > input{
                        display: flex;
                        width: 20%;
                        height: 90%;
                        border-radius: 50px;
                        margin-left: 20px;

                        
                    }
                }
            }
            }
            

            .particao-maquinafiltro {
                display: flex;
                width: 100%;
                height: 40%;
                flex-direction: column;
                gap:20px;

                .particao2-inputitulo {
                    display: flex;
                    flex-direction: row;
                    justify-content: flex-end;
                    width: 100%;
                    margin-right: 30px;
    
                    > p {
                        color: black;
                        font-weight: bold;
                    }

                    
                }
            }
        }

        .filtro-botao-confirmar {
            flex-direction: row;
            align-items: center;
            display: flex;
            width: 100%;
            height: 10%;
            justify-content: center;
            gap: 30px;
            margin-top:auto;
        
        .confirmarfiltro{
            border-radius: 40px;
            background: #442BB3;
            color: white;
            width: 180px;
            height: 40px;
            cursor: pointer;
        }
    }
    }

    
}

.filtro-no-gerenciar-maquina {
    display: flex;
    flex-direction: row;
    align-items: center;

    > p {
        color: black;
        margin-left: 40px;
    }

    > input {
        margin-left: 15px;
        border-radius: 20px;
        border: none;
        width: 200px;
        height: 40px;
        color: black;
    }

    > input::placeholder {
        align-items: center;
        color: #666666;
    }
}